:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: auto;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {

  background-color: rgb(238, 246, 248);

}
